html
  head
    style.
      fieldset {
      background-color: #eeeeee;
      font-size:20px;
      width: 550px;
      margin:auto;
      }
      legend {
      background-color: gray;
      color: white;
      padding: 5px 10px;
      }
      input {
      margin: 5px;
      font-size:20px;
      }
      form {
      width: 50vw;
      margin-left : 25vw;
      }
  body
    form(role='form', method='POST', action='http://localhost:3000/api/makePurchase/done')
      fieldset
        legend  Make Purchase
        label(for='customer_id') Customer ID:
        input#customer_id(type='text', name='customer_id', value='123456789')
        br
        br
        label(for='product_name') Product Name:
        input#product_name(type='text', name='product_name', value='book')
        br
        br
        label(for='product_id') Product ID:
        input#product_id(type='number', name='product_id', value='12')
        br
        br
        label(for='quantity') Quantity:
        input#quantity(type='number', name='quantity', value='1')
        br
        br
        input(type='submit', value='Send Order')